@charset "UTF-8";

body {
    background-color: aqua;
    font-size: 19px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1 {
    color: blue;
    background-color: yellowgreen;
}
h2 {
    color: red;
}